body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #170C04;
    ;
    font-size: 16px;
  }
  .container {
    width: 1300px;
    height: 1000px;
}
  .nav {
    font-family: 'Roboto';
    display: flex;
    justify-content: space-around;     
  }

.nav ul,
li {
  display: flex;  
   
}
a {
    text-decoration: none;  
  }
.nav a{
    color: #170C04;
}
.menu-logo {
    padding: 0;
    margin-top: 31px;
    margin-left: 178px;
}
.dog {
    margin-left: 5px;
    margin-top: 8px;
}

.menu-logo li {   
font-weight: 500;
font-size: 22px;
line-height: 26px;
text-transform: uppercase;
font-weight: bold;
  }

.menu-list {
    padding: 0;
    margin-top: 41px;
    margin-left: 291px;
}

.menu-list li {
    width: 66px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 55px;
}
.menu-icons {
    padding: 0;
    margin-top: 41px;
    margin-left: 235px;
}
.menu-icons li {
    margin-right: 40px;
}